{% extends "base-layout.html" %} {% block headerImg %}agent.svg{% endblock %} {%
block header %} Agents {% endblock %} {% block body %}

<div class="px-2 mx-2 py-2">
  {% if agents.len() == 0 %}
  <h1 class="text-2x font-bold text-slate-700">No agents found</h1>
  {% else %}
  <table class="min-w-full divide-y divide-gray-200 table-fixed">
    <thead class="bg-transparent">
      <tr>
        <th
          scope="col"
          class="px-6 py-3 text-left text-lg text-slate-700 uppercase tracking-wider"
        >
          Agent
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-lg text-slate-700 uppercase tracking-wider"
        >
          System
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-lg text-slate-700 uppercase tracking-wider"
        >
          Network
        </th>
      </tr>
    </thead>
    <tbody class="bg-white hover:bg-slate-100 divide-y divide-gray-200">
      {% for agent in agents %}
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">
          <a href="/agents/{{ agent.uuid }}">
            <div class="flex flex-row">
              {% if agent.status.to_str() == "Online" %}
              <p class="text-green-500 text-lg mr-4">•</p>
              {% else %}
              <p class="text-red-500 text-lg mr-4">•</p>
              {% endif %}
              <div class="flex flex-1 flex-col">
                <h2 class="text-lg font-bold text-slate-700">
                  {{ loop.index }} - {{ agent.hostname }}
                </h2>
                <p class="text-sm text-gray-400">
                  {{ agent.last_seen_at_str }}
                </p>
              </div>
            </div>
          </a>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <a href="/agents/{{ agent.uuid }}">
            <p class="text-lg font-bold text-slate-700">{{ agent.platform }}</p>
            <div class="flex flex-row">
              <img src="/assets/fingerprint.svg" class="mr-2" width="20" />
              <h2 class="text-sm text-gray-400">{{ agent.uuid }}</h2>
            </div>
          </a>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <a href="/agents/{{ agent.uuid }}">
            <p class="text-lg font-bold text-slate-700">IP Adress v4</p>
            <p class="text-sm text-gray-400">{{ agent.ip }}</p>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
</div>

{% endblock %}
